section {
  padding: 50px 0;
}
.button {
  width: 536px;
  height: 75px;
  box-shadow: 0 19px 46px #cf182e, inset 0 -3px 0 #d73e4d;
  background-color: #e7273e;
}
.visibility {
  z-index: 10;
}
.white {
  color: #fff;
}
.red {
  color: #e7273e;
}
