.header {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}
.navbar {
  background: url(../img/bg-nav.png) center center/cover no-repeat;
}
.header-jumbotron {
  height: calc(100vh - 56px);
  background: url(../img/bg-crypto.png) center center/cover no-repeat;
}

