.header {
  height: 100vh;
}
.navbar {
  background: url(../img/bg-nav.png) center center/cover no-repeat;
}
.carousel {
  height: calc(100% - 56px);
  overflow: hidden;
}
.carousel-inner {
  overflow: visible;
}
