.navbar {
  background: url(../img/bg-nav.png) center center/cover no-repeat;
}
.carousel {
  overflow: hidden;
}
.carousel-inner {
  overflow: visible;
}
.carousel-item {
  &.active {
    background-image: linear-gradient(to right, #053885 0%, #007eff 100%);
  }
}
